/* In your main CSS file (e.g., App.css) */
:root {
  --font-family: "Arial";
  --page-background-color: #ffffff;
  --text-color: #000000;
  --item-border-color: #000000;
  --item-background-color: #ffffff;
  --router-active-color: #0000ff;
  --item-hover-color: #eee;
}

.dark-theme {
  --font-family: "Arial";
  --page-background-color: #121212;
  --text-color: #ffffff;
  --item-border-color: #ffffff;
  --item-background-color: #121212;
  --router-active-color: #ffff00;
  --item-hover-color: #333;
}

/* Apply the variables to your components */
.app-container {
  font-family: var(--font-family);
  background-color: var(--page-background-color);
  color: var(--text-color);
  min-height: 100vh;
  transition:
    background-color 0.3s,
    color 0.3s;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  background-color: var(--item-background-color);
  border-color: var(--item-border-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
button:hover {
  background-color: var(--item-hover-color);
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--item-border-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
a:hover {
  background-color: var(--item-hover-color);
}

.active-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--router-active-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}
